header{
  background-color: aqua;

  margin: 0;

  position: relative;
}

a:link, a:visited, a:hover, a:active{
  color: black;
  text-decoration: none;
}

figcaption{
  text-align: center;
  position: relative;
  top: -2em;
}

body{
  margin: 0;
}

.test{
  background: rgb(125,185,232);
  background: -moz-linear-gradient(top, rgb(125,185,232) 0%, rgb(30,87,153) 100%);
  background: -webkit-linear-gradient(top, rgb(125,185,232) 0%,rgb(30,87,153) 100%);
  background: linear-gradient(to bottom, rgb(125,185,232) 0%,rgb(30,87,153) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
}

.logo{
  display: block;
  width: 10em;
  margin: auto;
  margin-bottom: 0;
}

.caption{
  margin-top: 0;
  text-align: center;
  margin: auto;
  position:relative;
  top: -1.25em;
  color:black;
}

.waves{
  width:100%;
  height: 15em;
  margin-bottom: 0;
  position: absolute;
  bottom: -7.5em;
}

.mainBody{
  /*background-color: #003399;*/
  color: white;
  padding: 1em;
  padding-bottom: 0px;
  background: rgb(125,185,232);
  background: -moz-linear-gradient(top, rgb(125,185,232) 0%, rgb(30,87,153) 100%);
  background: -webkit-linear-gradient(top, rgb(125,185,232) 0%,rgb(30,87,153) 100%);
  background: linear-gradient(to bottom, rgb(125,185,232) 0%,rgb(30,87,153) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
}

.Nav{
  display:flex;
  justify-content: space-around;
}

.button{
  margin: 5em;
  width: 20%;
  text-align: center;

}

section{
  margin-top: 25em;
  padding-top: 5em;
  padding-bottom: 5em;
  margin: auto;
  border-radius: 2em;

}

h1, h2{
  text-align: center;
}

br{
  display: none;
}



.faq{
  margin: 5em;
}

.faq:nth-child(odd){
  text-align: left;
}

.faq:nth-child(even){
  text-align: right;
}

.faqimg{
  height: 5em;
}

.faqimg:nth-child(odd){
  float: left;
}

.faqimg:nth-child(even){
  float: right;
}



.footer{
  display:flex;
  justify-content: space-around;
  /*background-color: coral;*/
  background-image: url(reefpic.png);
  background-repeat: repeat-x;
  background-position: center;
}

@media screen and (max-width: 1235px) {

  .Nav{
    margin-top:30px;
    flex-direction: column;
  }

  .button{
    margin: auto;
    margin-bottom: 5em;
  }

}

@media screen and (max-width: 926px) {

  .faqimg{
    display: block;
    float: none;
  }

}

.columnLayout {
  /*background-color: lightblue;*/
  padding:25px 50px 0px 50px;
  display: flex;
}

.leftColumn{
  color: black;
  padding-right: 25px;
  size: 1.5em;
  flex: 1;
}

.leftColumnPic{
  text-align: center;
  flex: 3;
}

.rightColumn{
  color: black;
  flex: 1;
}

.rightColumnPic{
  text-align: center;
  flex: 3;
}

.textPortion{
  border: solid 2px #003399;
  padding: 5px;
}

.footerpic{
  text-align: center;
}